<?xml version='1.0' encoding='utf-8'?>
<widget id="com.codiqa.project" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Pizazz</name>
    <description>
        Application for Pizazz Hair Design.
    </description>
    <author email="j_villella@live.ca">
        Joseph Villella
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="fullscreen" value="true" />
    <preference name="webviewbounce" value="true" />
	<!-- Icons -->

<icon src="icon.png" />
<icon src="res/icon/ios/icon-57.png" width="57" height="57" />
<icon src="res/icon/ios/icon-57-2x.png" width="114" height="114" />
<icon src="res/icon/ios/icon-72.png" gap:platform="ios" width="72" height="72" />
	
</widget>
